:root {
  --background: #5547ff;
  --just-white: #ffffff;
  --charlestone-green: ##272b2f;
  --blue-borders: #53bdff;
}

html,
body {
  font-family: "Oxygen", sans-serif;
  background-color: var(--background);
}

h1 {
  margin: 10px 0;
  display: flex;
  justify-content: center;
}

h1,
h2,
.time {
  color: var(--just-white);
}

span {
  font-size: 1.2rem;
}

h3 {
  font-size: 1rem;
}

.watch-section {
  width: 800px;
  min-width: 340px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.time {
  font-size: 1.3rem;
  font-weight: 700;
  margin-bottom: 10px;
}

/* Informacion de las seccion principal */
.riders {
  width: 800px;
  min-width: 340px;
  margin: 0 auto;
  color: var(--charlestone-green);
}

.riders-items {
  width: 800px;
  min-width: 340px;
  height: 60px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--just-white);
  border-bottom: 1px solid var(--blue-borders);
}

.riders-items.disabled {
  opacity: 0.3;
}

.item > p {
  width: 90px;
  height: 21px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
}

.watch {
  padding-bottom: 10px;
  font-size: 1.1rem;
}

.btn {
  padding: 5px;
  background: none;
  color: var(--background);
  border: 1px solid var(--background);
  cursor: pointer;
}

.btn.active:hover {
  background: var(--background);
  color: var(--just-white);
}

.btn.active {
  color: var(--background);
  border: 1px solid var(--background);
  cursor: pointer;
}

.btn.disabled {
  background: var(--background);
  color: var(--just-white);
  cursor: pointer;
}
